/* funcionalidades.module.css */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Ocupa todo el viewport */
    width: 100vw;
    background-color: black;
}

.textContainer {
    width: 40vw; /* 30% del viewport width */
    font-size: 2rem; /* Texto más grande */
    font-weight: bold;
    text-align: left;
    max-width: 800px;
    line-height: 1.5;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.animatedWord {
    display: inline-block;
    transition: color 0.3s, opacity 0.3s;
    color: rgba(255, 255, 255, 0.2);
}

/* Color azul para la palabra "donde" */
.blueWord {
    color: #007BFF;
    font-weight: bold;
}